.mealDetails {
    width: 60%;
    margin: 40px auto;
    padding: 30px;
    background-color: #1e1e1e; 
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .mealDetails:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
  }
  
  .mealImage {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    display: block; 
    transition: transform 0.3s;
  }
  
  .mealImage:hover {
    transform: scale(1.05); 
  }
  
  .mealName {
    font-size: 40px;
    margin-bottom: 20px; 
    text-align: center; 
    color: #ff2f55; 
    font-weight: bold; 
    text-transform: uppercase; 
    padding: 10px 20px; 
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease, transform 0.3s ease; 
}

.mealName:hover {
    transform: translateY(-2px); 
}

  
  .mealInfo {
    margin-bottom: 25px;
  }
  
  .mealInfo p {
    font-size: 18px;
    margin: 8px 0;
    color: #dddddd; 
  }
  
  .mealIngredients {
    margin-bottom: 25px;
  }
  
  
  .mealInstructions {
    margin-bottom: 25px;
  }
  
  .mealInstructions p {
    font-size: 18px;
    line-height: 1.8;
    color: #f0f0f0; 
  }
  
  .mealIngredients h3 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #ffaa33; 
    font-weight: 600;
  }
  
  .mealInfo strong {
    color: #ffdd33; 
    font-weight: 500;
  }

  .mealInstructions h3 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #ffaa33; 
    font-weight: 600;
  }

  .recipeBy {
    margin-top: 20px;
    padding: 10px;
    background-color: #333; 
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
}

.recipeBy:hover{
    transform : scale(1.02);
}

.recipeBy p {
    font-size: 16px;
    color: #f0f0f0; 
}
  