.container {
    text-align: center;
    padding: 20px;
  }
  
  .authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .title {
    font-size: 2rem; 
    margin-bottom: 20px;
    color: #ff385c; 
  }
  
  .input {
    width: 100%; 
    max-width: 340px; 
    padding: 1rem;
    margin-bottom: 1.2rem;
    border: 2px solid #ddd; 
    border-radius: 8px;
    font-size: 1.1rem;
    transition: border-color 0.3s ease;
  }
  
  .getStarted {
    font-size: 1.25rem;
    padding: 12px 24px;
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px; 
  }
  
  .getStarted:hover {
    background-color: #e3345d;
    transform: scale(1.05);
  }
  
  .image {
    max-width: 150px; 
    margin-bottom: 20px; 
    border-radius: 35%; 
    border: 3px solid #ff385c; 
    transition: transform 0.3s;
  }
  
  .image:hover {
    transform: scale(1.05);
  }
  

  .error p{
    text-align: left;
    color : red;
    margin-top : 1rem;
  }

  .register a{
     text-decoration: none;
     color : #ff385c;
  }

  .register p{
    margin-top : 1rem;
  }
  

  .authForm input:focus {
    border-color: #ff385c; 
    outline: none;
  }
  